
<!-- ================= START CONTACT ================= -->
<section class="section-title contact" id="contact">
    <div class="container">
        <!-- START CONTACT SECTION HEADING -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center text-uppercase">联系我们</h2>
            </div>
        </div>
        <!-- // END CONTACT SECTION HEADING -->
        <div class="row">
            <!-- START INFORMATION AREA -->
            <div class="col-md-4 col-sm-6">
                <div class="info">

                    <!-- START ADDRESS INFO -->
                    <!--
                    <div class="contact-info wow fadeInLeft" data-wow-delay="0.2s">
                        <i class="ion-android-pin"></i>
                        <h4 class="text-uppercase"></h4>
                        <p></p>
                    </div>
                    -->
                    <!-- // END ADDRESS INFO -->

                    <!-- START PHONE INFO
                    <div class="contact-info wow fadeInLeft" data-wow-delay="0.4s">
                        <i class="ion-iphone"></i>
                        <h4 class="text-uppercase">Phone</h4>
                        <p>+86 21 60539000</p>
                    </div>
                    END PHONE INFO -->

                    <!-- START EMAIL INFO -->
                    <div class="contact-info wow fadeInLeft" data-wow-delay="0.6s">
                        <i class="ion-email"></i>
                        <h4 class="text-uppercase">Email</h4>
                        <p>info@icogp.com</p>
                    </div>
                    <!-- // END EMAIL INFO -->
                </div>
            </div>
            <!-- // END INFORMATION AREA -->

            <!-- START FORM AREA -->
            <div class="col-md-8 col-sm-6">
                <div class="contact-form">
                    <form role="form" id="contact_form" class="contact-form" method="post" onSubmit="return false">
                        <!-- START NAME LABEL -->
                        <label>
                            <input required type="text" class="form-control" name="name" id="name" placeholder="您的姓名">
                        </label>
                        <!-- // END NAME LABEL -->
                        <!-- START EMAIL LABEL -->
                        <label>
                            <input required type="text" class="form-control" name="email" id="email" placeholder="您的邮件地址">
                        </label>
                        <!-- // END EMAIL LABEL -->
                        <!-- START MESSAGE LABEL -->
                        <label>
                            <textarea required class="form-control" name="message" id="message" placeholder="留言"></textarea>
                        </label>
                        <!-- // END MESSAGE LABEL -->
                        <!-- START SEND BUTTON -->
                        <div class="wow fadeInUp" data-wow-delay="1s">
                            <button type="submit" value="submit" class="btn btn-border" id="btn_submit" onClick="proceed();">发送</button>
                        </div>
                        <!-- // END SEND BUTTON -->
                    </form>
                </div>
                <!-- START SUCCESSFULL MESSAGE -->
                <h3 id="contact_message">Wohooay, Message Sent!</h3>
                <!-- END SUCCESSFULL MESSAGE -->
            </div>
            <!-- // END FORM AREA -->
        </div>
        <!-- // END ROW -->
    </div>
    <!-- // END CONTAINER -->
</section>
<!-- ================= // END CONTACT ================= -->