<!-- ================= START INTRO ================= -->
<header class="intro" id="home">
    <!-- START NAVBAR -->
    <nav class="navbar">
        <div class="container">
            <!-- START NAVBAR HEADER -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>

                <!-- START LOGO -->
                <a class="navbar-brand scroll text-uppercase" href="#home">
                    <img style="filter: alpha(opacity=60);background-color: #f1aa17;opacity: 0.6;" src="{{ '/assets/images/logo2.png' | relative_url }}" alt="KOL MEDIA">
                </a>
                <!-- // END LOGO -->

            </div>
            <!-- // END NAVBAR HEADER -->

            <!-- START COLLAPSE -->
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="nav navbar-nav navbar-right text-center text-uppercase">
                    <li class="active"><a class="scroll" href="#home">首页<span class="sr-only">(current)</span></a></li>
                    <li><a class="scroll" href="#about">关于我们</a></li>
                    <li><a class="scroll" href="#services">服务内容</a></li>
                    <li><a class="scroll" href="#portfolio">经典案例</a></li>
                    <li><a class="scroll" href="#contact">联系我们</a></li>
                </ul>
            </div>
            <!-- // END COLLAPSE -->

        </div>
        <!-- // END CONTAINER -->
    </nav>
    <!-- // END NAVBAR -->

    <!-- START INTRO CONTENT -->
    <div class="intro-content text-center">
        <div id="particles-js"></div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-uppercase">OUR VISION</p>
                    <h1 class="text-uppercase"><strong style="color:#f5b71a">专注</strong>区块链项目海外发行
                    </h1>
                    <a href="#about" class="btn scroll btn-border text-uppercase">更多</a>
                </div>
            </div>
        </div>
        <!-- // END CONTAINER -->
    </div>
    <!-- // END INTRO CONTENT -->
</header>
<!-- ================= // END INTRO ================= -->