
<!-- ================= START RESUME ================= -->
<section class="resume section-title" id="resume">
    <div class="container">
        <!-- START RESUME SECTION HEADING -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center text-uppercase">我们的优势</h2>
            </div>
        </div>
        <!-- // END RESUME SECTION HEADING -->
        <div class="row">

            <!-- START EDUCATION
            <div class="col-md-3 col-sm-6">
                <div class="education">
                    <h3>Education</h3>


                    <div class="edu-info">
                        <h4 class="text-uppercase">Computer Science</h4>
                        <p>Harvard University</p>
                        <span>2011 - 2015</span>
                    </div>

                    <div class="edu-info">
                        <h4 class="text-uppercase">NASA High School</h4>
                        <p>San Fransisco</p>
                        <span>2007 - 2010</span>
                    </div>
                </div>
            </div>
            END EDUCATION -->

            <!-- START EXPERIENCE -->
            <div class="col-md-4">
                <div class="experience">
                    <h3>主要团队</h3>

                    <div class="work-info">
                        <h4 class="text-uppercase">Sally</h4>
                        <p>8年游戏行业的市场营销经验</p>
                        <span>2009 - 现在</span>
                    </div>
                    <div class="work-info">
                        <h4 class="text-uppercase">Heaven</h4>
                        <p>10年互联网营销经验</p>
                        <span>2007 - 现在</span>
                    </div>

                    <div class="work-info">
                        <h4 class="text-uppercase">Terry</h4>
                        <p>8年游戏行业的市场推展经验</p>
                        <span>2009 - 现在</span>
                    </div>

                </div>
            </div>
            <!-- // END EXPERIENCE -->

            <!-- START SKILLS -->
            <div class="col-md-8">
                <div class="skills">
                    <h3>能力</h3>

                    <!-- START UI DESIGN SKILL -->
                    <div class="skill-info">
                        <h4>市场策略 </h4>
                        <div class="progress">
                            <span>90%</span>
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                        </div>
                    </div>
                    <!-- // END UI DESIGN SKILL -->
                    <!-- START UI DESIGN SKILL -->
                    <div class="skill-info">
                        <h4>产品理解 </h4>
                        <div class="progress">
                            <span>90%</span>
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                        </div>
                    </div>
                    <!-- // END UI DESIGN SKILL -->



                    <!-- START GRAPHIC DESIGN SKILL -->
                    <div class="skill-info">
                        <h4>创意设计</h4>
                        <div class="progress">
                            <span>85%</span>
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                        </div>
                    </div>
                    <!-- // END GRAPHIC DESIGN SKILL -->

                    <!-- START GRAPHIC DESIGN SKILL -->
                    <div class="skill-info">
                        <h4>项目管理</h4>
                        <div class="progress">
                            <span>95%</span>
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
                        </div>
                    </div>
                    <!-- // END GRAPHIC DESIGN SKILL -->

                </div>
            </div>
            <!-- // END SKILLS -->

            <!-- START DOWNLOAD RESUME BUTTON
            <div class="col-xs-12 text-center">
                <a href="#" class="btn scroll btn-dark text-uppercase">Download Resume</a>
            </div>
            END DOWNLOAD RESUME BUTTON -->
        </div>
    </div>
</section>
<!-- ================= // END RESUME ================= -->