<!-- ================= START SCRIPTS AREA ================= -->
<!-- JQUERY -->
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
<!-- BOOTSTRAP -->
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
<!-- MAGNIFIC POPUP -->
<script src="{{ '/assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>

<!-- PARTICLES -->
<script src="{{ '/assets/js/particles.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/app.js' | relative_url }}"></script>

<!-- WOW -->
<script src="{{ '/assets/js/wow.min.js' | relative_url }}"></script>
<!-- FORM -->
<script src="{{ '/assets/js/form.js' | relative_url }}"></script>
<!-- MAIN JS FILE -->
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
<!-- ================= // END SCRIPTS AREA ================= -->