<!-- ================= START SERVICES ================= -->
<section class="services section-title text-center" id="services">
    <div class="container">

        <!-- START SERVICES SECTION HEADING -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center text-uppercase">服务内容</h2>
            </div>
        </div>
        <!-- // END SERVICES SECTION HEADING -->
        <div class="row">

            <!-- START Marketing Strategy SERVICE -->
            <div class="col-md-4 col-sm-6">
                <div class="service wow fadeInUp" data-wow-delay="0.2s">
                    <i class="ion-film-marker"></i>
                    <h4 class="text-uppercase">ICO立项</h4>
                    <p>多语言白皮书撰写及官网搭建</p>
                </div>
            </div>
            <!-- // END Marketing Strategy SERVICE -->

            <!-- START Influencer Marketing DESIGN SERVICE -->
            <div class="col-md-4 col-sm-6">
                <div class="service wow fadeInUp" data-wow-delay="0.4s">
                    <i class="ion-android-bulb"></i>
                    <h4 class="text-uppercase">战略规划</h4>
                    <p>为项目定制最佳的海外发行战略</p>
                </div>
            </div>
            <!-- // END Influencer Marketing SERVICE -->

            <!-- START MEDIA BUYING SERVICE -->
            <div class="col-md-4 col-sm-6">
                <div class="service wow fadeInUp" data-wow-delay="0.6s">
                    <i class="ion-ribbon-b"></i>
                    <h4 class="text-uppercase">媒体渠道</h4>
                    <p>最优质的媒体资源 Facebook, Snapchat </p>
                </div>
            </div>
            <!-- // END MEDIA BUYING SERVICE -->

            <!-- START MARKETING SERVICE -->
            <div class="col-md-4 col-sm-6">
                <div class="service wow fadeInUp" data-wow-delay="0.8s">
                    <i class="ion-ios-people"></i>
                    <h4 class="text-uppercase">社群运营</h4>
                    <p>海外社交媒体全平台的投资者社群运营</p>
                </div>
            </div>
            <!-- // END MARKETING SERVICE -->

            <!-- START SEO SERVICE -->
            <div class="col-md-4 col-sm-6">
                <div class="service wow fadeInUp" data-wow-delay="1s">
                    <i class="ion-ios-briefcase"></i>
                    <h4 class="text-uppercase">投资者对接</h4>
                    <p>为项目对接海外VIP投资者群体</p>
                </div>
            </div>
            <!-- // END SEO SERVICE -->

            <!-- START BRANDING SERVICE -->
            <div class="col-md-4 col-sm-6">
                <div class="service wow fadeInUp" data-wow-delay="1.2s">
                    <i class="ion-ios-world"></i>
                    <h4 class="text-uppercase">PR公关</h4>
                    <p>海外全媒体PR覆盖以及投资者舆情管理
                    </p>
                </div>
            </div>
            <!-- // END BRANDING SERVICE -->

            <!-- START MARKETING SERVICE -->
            <div class="col-md-4 col-sm-6">
                <div class="service wow fadeInUp" data-wow-delay="0.8s">
                    <i class="ion-disc"></i>
                    <h4 class="text-uppercase">广告投放</h4>
                    <p>社交媒体以及垂直媒体平台的广告推广</p>
                </div>
            </div>
            <!-- // END MARKETING SERVICE -->

        </div>
        <!-- // END ROW -->
    </div>
    <!-- // END CONTAINER -->
</section>
<!-- ================= // END SERVICES ================= -->